mat-calendar {
  display: block;
  margin: 0 auto;
  max-width: 540px;
  background-color: #1e1e11;
  border-radius: 3px;
  padding: 8px;
  color: white;

  .mat-calendar-body-selected {
    background-color: #e50914 !important;
    color: white !important;
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: #aaa !important;
  }
}
