/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.core();

$color-config: (
  primary: mat.$red-palette,
  tertiary: mat.$magenta-palette,
  theme-type: dark,
);

$darken: mat.define-theme(
  (
    color: $color-config,
  )
);

:root {
  @include mat.all-component-themes($darken);
}

html,
body {
  height: 100%;
}
body {
  background-color: #121212;
  color: white;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
